# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Sass cache
.sass-cache/

# Compiled CSS
dist/styles/*.css
dist/styles/*.css.map

# dotenv environment variables file
.env

# IDE files (optional)
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
